@charset 'utf-8';
/* CSS Document */

.headest
{
    width: 100%;
    height: 31px;

    background-color: #f7f7f7;
}
.width
{
    width: 1000px;
    margin: 0 auto;
}
.headest  .width .fl
{
    font-weight: bold;
}
.headest  a
{
    font-size: 12px;
    line-height: 31px; 

    color: #666;
}
.headest  .width .fl a
{
    padding-left: 18px;

    background: url(file:///C|/Users/Administrator/Desktop/%E6%BA%90%E7%A0%81/%E4%BC%81%E4%B8%9A%E7%BD%91%E7%AB%99%E7%BB%BC%E5%90%88%E5%B8%83%E5%B1%80%E5%AE%9E%E8%B7%B5/%E7%94%B5%E5%95%86%E7%BD%91%E7%AB%99/Doexe/image/icon/collection.gif) no-repeat left center;
}
/*最顶部收藏栏目区域结束*/


.header1
{
    width: 100%;
    height: 85px;

    background-color: #1d7ad9;
}
.header1 .width .logo
{
    display: inline-block;

    padding: 13px 39px;
}
.header1 .width  .shopcar
{
    line-height: 35px; 

    float: right;

    height: 35px;
    margin-top: 23px;
    margin-right: 60px;

    background-color: #f80;
}
.header1 .width  .shopcar .shopcar_text
{
    display: inline-block;

    width: 87px;

    border-right: 1px solid #e27a00;
}
.header1 .width  .shopcar .shopcar_text  a
{
    font-family: '微软雅黑';
    font-size: 14px;

    padding-left: 38px;

    color: #fff;
    background: url(../image/icon/shopcar.gif) no-repeat 10px center;
}
.header1 .width  .shopcar .shopcar_number
{
    display: inline-block;

    width: 50px;
}
.header1 .width  .shopcar .shopcar_number  a
{
    font-family: '微软雅黑';
    font-size: 14px;

    padding-left: 15px;

    color: #fff;
}
.header1 .width  .shopcar .shopcar_number  a img
{
    padding-left: 6px;
}

.header1 .width .search
{
    float: right;
    overflow: hidden; 

    margin-top: 23px;
    margin-right: 30px;

    background: none;
}
.header1 .width .search .text
{
    line-height: 33px/9;

    display: inline-block;

    width: 340px;
    height: 33px;
    padding-right: 10px;
    padding-left: 10px;
}
.header1 .width .search .submit
{
    font-family: '微软雅黑';
    font-size: 14px;
    line-height: 35px/9;

    display: inline-block;

    width: 70px;
    height: 35px;
    margin-left: -6px;

    cursor: pointer;

    color: #fff;
    border-bottom: 2px solid #f80 ;
    background-color: #f80;
}

/* logo栏结束*/

.header2
{
    line-height: 35px;

    position: relative;

    width: 100%;
    height: 35px;

    text-align: center;

    background-color: #1369c0;
}
.header2 .navbig
{
    font-family: '微软雅黑';
    font-size: 16px;

    float: left;

    width: 189px;

    cursor: pointer;

    color: #fff;
    background: url(../image/icon/nav.gif) no-repeat 152px center;
}
.header2 .navsma li
{
    float: left;
}
.header2 .navsma li a
{
    font-family: '微软雅黑';
    font-size: 14px;

    display: inline-block;

    width: 100px;

    color: #fff;
}
.header2 .navsma   .on
{
    background: #4593fd;
}
/*导航栏结束*/
.hide
{
    position: absolute;
    z-index: 2;
    top: 35px;
    left: 368px;

    display: none;

    padding-left: 20px;

    border: 1px solid #e5e5e5;
    background: #fff;
}
.hide dl
{
    line-height: 40px;

    width: 572px;

    text-align: left;

    border-bottom: 1px solid #e5e5e5;
}
.hide dt a
{
    font-family: '微软雅黑';
    font-size: 12px;
    font-weight: bold; 

    color: #4b88da;
}
.hide dd a
{
    font-family: '微软雅黑';
    font-size: 12px;

    color: #666;
}
.hide dt
{
    display: inline-block;

    padding-right: 10px;
}
.hide  dd
{
    display: inline-block;

    padding: 0 6px;
}
.hide ul
{
    height: 57px;

    cursor: pointer;
}
.hide  li
{
    font-size: 12px;
    line-height: 26px;

    display: block;
    float: left;

    width: 94px;
    height: 26px;
    margin: 15px  10px 15px  20px;
    padding-left: 6px;

    text-align: left;

    color: #fff;
    background-color: #2785e6;
}
.hide  img
{
    padding-left: 6px;
}
/*隐藏区结束*/

.head
{
    width: 1000px;
    margin: 0 auto;
}
.head .navcol
{
    float: left;
    clear: both;

    width: 189px;
    margin-top: -2px;
}
.head  .navcol  ul
{
    width: 184px;
    padding-right: 5px;

    background-color: #4593fd;
}
.head  .navcol li
{
    display: block;

    height: 53px;
    padding-top: 13px;

    border-bottom: 1px solid #3487f2; 
    background: url(../image/icon/1.%E9%A6%96%E9%A1%B5_r3_c4.gif) no-repeat right center;
}
.head  .navcol a
{
    font-family: '微软雅黑';
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;

    height: 20px;
    padding-left: 6px;

    color: #fff;
}
.head  .navcol  .way1
{
    font-family: '微软雅黑';
    font-size: 14px;
    font-weight: normal;

    color: #fff;
}
.head  .navcol  .way2
{
    display: inline-block;

    width: 46px;

    text-align: center;
    text-decoration: underline;

    background: url(../image/icon/touming.png) no-repeat 5px center;
}

.head .pic
{
    float: left;

    width: 806px;
    margin-top: 8px;
    margin-left: 5px;
}

.main1
{
    width: 1000px;
    height: 400px; 
    margin: 0 auto;
}
.main1 .main_top
{
    font-family: '微软雅黑';
    font-size: 24px;
    line-height: 75px;

    clear: both;

    width: 189px;
    height: 75px;
    padding-left: 16px;

    text-align: center;

    color: #000;
    background: url(../image/icon/top.gif) no-repeat left center;
}
.main1 .main_left
{
    float: left; 

    width: 189px;
}
.main1 .main_right
{
    width: 100%;
}
.main1 .main_right .main_right_pic
{
    float: left;

    width: 198px;
    height: 278px;

    text-align: center;

    border: 1px solid #ccc;
    border-left: none;
}
.main1 .main_right .main_right_pic img
{
    margin-top: 46px;
}
.main1 .main_right .main_right_pic p a
{
    font-family: '微软雅黑';
    font-size: 16px;
    font-weight: bold;
    line-height: 45px; 

    color: #000;;
}
.main1 .main_right .main_right_pic p
{
    font-family: '微软雅黑';
    font-size: 14px;

    color: #ff7300;
}

.main1  .main_right .main_right_bot
{
    position: relative; 

    float: left;

    width: 198px;
    height: 118px;

    border: 1px solid #ccc;
    border-bottom: 2px solid #ff7201;
    border-left: none;
}
.main1 .main_right .main_right_bot img
{
    margin-top: 28px;
    margin-left: 25px;
}
.main1 .main_right .main_right_bot .main_right_bot_font
{
    font-size: 12px;

    float: right;

    width: 90px;
    margin-top: 39px;
    margin-right: 2px;

    cursor: pointer;

    color: #ff7300;
}
.main1 .main_right .main_right_bot .main_right_bot_number
{
    font-family: '微软雅黑';
    font-size: 16px;
    line-height: 20px;

    position: absolute;
    top: 88px;
    left: 102px;

    width: 90px;
    height: 20px;
    padding-left: 12px;

    color: #000; 
    background: url(../image/icon/$.gif) no-repeat left center;
}

/*主体部分结束*/
.fot
{
    clear: both;

    width: 100%;
    height: 40px;

    background: #fff;
}

.foot
{
    width: 100%;
    height: 223px;

    text-align: center; 

    background: #d4d4d4;
}
.foot .p
{
    font-size: 12px;
    line-height: 24px;

    padding-top: 50px;

    color: #000;
}
.foot .img
{
    margin-top: 34px;
}
.foot img
{
    display: inline-block;

    margin-right: 13px;
    margin-left: 12px;
}
